* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yekan", sans-serif;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Yekan";
  src: url("./Asset/Yekan.ttf");
}
@font-face {
  font-family: "Lalezar";
  src: url("./Asset/Lalezar-Regular.ttf");
}
@media screen and (min-width: 600px) {
  body::-webkit-scrollbar {
    width: 1em;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: #030f27;
    outline: 3px solid #fdbe33;
  }
}
