* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yekan", sans-serif;
}
@font-face {
  font-family: "Yekan";
  src: url("./Asset/Yekan.ttf");
}
@font-face {
  font-family: "Lalezar";
  src: url("./Asset/Lalezar-Regular.ttf");
}
